# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Cloudflare
.wrangler/
.wrangler.generated.jsonc

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro and debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# local settings
.DS_Store
*.pem
.env
.env*.local
*.tsbuildinfo

example
